fastapi==0.115.0
uvicorn[standard]==0.30.6
requests==2.32.3
google-cloud-firestore==2.19.0
google-cloud-secret-manager==2.20.0
google-cloud-logging==3.11.1
google-auth==2.35.0
google-cloud-aiplatform==1.72.0
pydantic==2.9.2
python-dotenv==1.0.1
